<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSH GUI Terminal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
    <script src="https://cdn.socket.io/4.7.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
</head>
<body>

  <div id="tmux-bar">
    <div id="tmux-controls">
      <input type="text" id="tmuxNewName" placeholder="New window name">
      <button id="tmuxNewButton">New</button>
      <button id="tmuxListButton">Refresh</button>
    </div>
    <div id="tmux-window-list">
      </div>
  </div>

  <div id="terminal-window" class="draggable resizable">
    <header class="window-header">
      SSH GUI Terminal
    </header>
    
    <section id="ssh-connection">
      <label>常用節點:
        <select id="commonHosts">
          <option value="">--選擇--</option>
          <option value="twnia3.nchc.org.tw">Taiwania 3</option>
          <option value="其他節點1">其他節點1</option>
        </select>
      </label>

      <input type="text" id="sshHost" placeholder="host">
      <input type="text" id="sshUser" placeholder="user">
      <button id="connectButton">連線</button>
      <button id="disconnectButton">斷線</button>
    </section>

    <div id="terminal"></div>

  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>